version: '2'

services:
  mongo:
    image: luisgepeto/mongo
    networks:      
      - mongo
      - api    
    container_name: mongo
    
  mongo-seed:
    image: luisgepeto/mongo-seed      
    depends_on:
      - mongo    
    networks:
      - mongo
    container_name: mongo-seed
  
  api:
    image: luisgepeto/api
    networks:
      - mongo
      - api
    ports:
      - "8080:5000"    
    container_name: api  
  
  web:
    build:
      context: ./DockerWeb      
    networks:
      - api      
    ports:
      - "80:5000"    
    environment: 
      - ASPNETCORE_ENVIRONMENT=Development
    container_name: web

networks:  
  mongo:
    driver: bridge
  api:
    driver: bridge